################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureApi/SecureApi.AzureActiveDirectory/.vs/SecureApi.AzureActiveDirectory/v16
